.all-diary{
    background: none;
    width:60%;
    /*background: salmon;*/
    height: 1000px;
    margin:0 auto;
    text-align: center;

}
.all-diary-body{
    margin-top: 30px;
    float: left;
    width: 100%;
    position: relative;
    /*background-color: white;*/
}
.all-diary-top{
    height: 50px;
    /*background-color: #0062cc;*/
    float: left;
    width: 100%;
    position: relative;
}
.all-diary-time{
    font-family: "Arial Rounded MT Bold";
    font-size: 15px;
    float: left;
    width: 180px;
    /*background-color: #9fcdff;*/
}
.all-diary-title{
    font-family: 幼圆;
    font-size: 15px;
    margin: 0 auto;
    width: 180px;
    /*background-color: #9fcdff;*/
}