*,body{
    padding:0;
    margin:0;
    height: 100%;


}

.nav-left{
    float: left;
    background-image: url("/images/background.png");
    margin:auto 0;
    width:5%;
    height: 100%;
    text-align: center;
}
.nav-left-container{

    float: left;
    text-align: center;

    background-color: rgba(254, 255, 255,0.8);

}
.nav-left-ul{


    margin-top: 200px;
    text-align: center;
    list-style-type: none;
    height: auto;
}
.nav-left-ul li{
    margin-top: 15px;
    height: 35px;
    line-height: 35px;
    transition: 0.3s;
}

.nav-left-inco{
    transition: 0.3s;
    color: rgb(121, 85, 72);
}
.nav-left-inco:hover{
    font-size: 30px;
}

.iframe{
    border: none;
    width: 95%;
    height: 100%;
    float: left;
}
