*,body{
    padding:0;
    margin:0;
    height: 100%;


}

.nav-left{
    float: left;
    background-color: #17a2b8;
    margin:auto 0;
    width:5%;
    height: 100%;
    text-align: center;
}
.nav-left-container{

    float: left;
    text-align: center;
    background-color: wheat;

}
.nav-left-ul{


    margin-top: 200px;
    text-align: center;
    list-style-type: none;
    height: auto;
}
.nav-left-ul li{
    margin-top: 20px;
    height: 30px;

}
.nav-left-inco{
    transition: 0.3s;
    color: rgb(121, 85, 72);
}
.nav-left-inco:hover{
    font-size: 27px;

}

.iframe{
    border: none;
    width: 95%;
    height: 93%;
    float: left;
}
