body{
    background-image: url('/images/background.png');
    height: auto;
}
/**********个人信息展示************/
.person-info{
    margin-left: 7%;
    width: 93%;
    height:250px;

}
#name{
    font-family: "Segoe UI Semilight";
}
.person-image{
    float: left;
    height: 100%;
    width: 250px;

}
.person-info-details{
    margin-top: 30px;
    float: left;
    height: 100%;
    width: 250px;

}
.person-info-ul{
    float: left;
    list-style-type: none;
}
.person-info-li{
    width:200px;
    height:50px;
    margin-top: 20px;
}
.person-info-li-ul{
    list-style-type: none;
    float: left;
}
.person-info-li-ul-li{
    float: left;

    width: 30px;
    margin-right: 20px;
}
.person-info-li-ul-li a{
    text-decoration: none;
    color:black;
}



/********最近博客模块*******/

/*------博客模块头部开始------*/
.latest-blog{
    margin-top: 30px;
    width: 95%;
    float: left;
    height: auto;
    position: relative;

}
.latest-blog-top{
    width: 95%;
    height:50px;
    float: left;
}
.latest-blog-top-left{
    border-radius: 15px;
    background-color: rgb(169, 169, 169);
    width: 180px;
    float: left;
    text-align: center;
    line-height: 50px;
}
.latest-blog-top-left-title{
    font-size: 25px;
    color: white;
}
.latest-blog-top-right{
    color: white;
    border-radius: 15px;
    background-color: rgb(169, 169, 169);
    width: 50px;
    float: right;
    text-align: center;
    line-height: 50px;
}
/*------博客模块头部结束------*/

/*------博客模块内容开始------*/
.latest-blog-body{
    background-color: rgba(255,255,255,0.8);
    margin-top: 30px;
    width: 95%;
    float: left;

}
.latest-blog-body-image{
    float: left;
    width: 500px;
    height:300px;

}
.latest-blog-body-right{

    float: left;
    width: 510px;
    margin-left:10px;
    text-align: center;
}
.latest-blog-body-right a{
    text-decoration: none;
    color:black;
    transition: 0.3s;
}
.latest-blog-body-right a:hover{
    text-decoration: none;
    color:rgb(226, 185, 62);
}
.latest-blog-body-title{
    text-align: center;
    font-size: 28px;
    float: left;
    width: 500px;
    hight:100px;

}
.latest-blog-body-describe{
    margin-top: 20px;
    float: left;
    width: 500px;
    height: 190px;

}
.latest-blog-body-bottom{
    float: left;
    width: 500px;
    margin-top: 12px;
}
.latest-blog-body-ul{
    list-style-type: none;
    width:550px;
}
.latest-blog-body-li{
    width:150px;
    float: left;
    height: 30px;
    font-size:2px;
    margin-left: 10px;
    color:rgb(128, 128, 128);
}

.latest-blog-body-bottom-font{
    font-size: 13px;
}
/*------博客模块内容结束------*/


/********最近博客结束*******/

/***全部博客***/
.all-blog{
    margin-top: 30px;
    width: 95%;
    float: left;
    height: auto;
    position: relative;

}
.all-blog-top{
    width: 95%;
    height:50px;
    float: left;
}
.all-blog-top-left{
    border-radius: 15px;
    background-color: rgb(255, 99, 71);
    width: 180px;
    float: left;
    text-align: center;
    line-height: 50px;
}
.all-blog-top-left-title{
    font-size: 25px;
    color: white;
}
.all-blog-top-right{
    color: white;
    border-radius: 15px;
    background-color: rgb(255, 99, 71);
    width: 50px;
    float: right;
    text-align: center;
    line-height: 50px;
}
/***全部博客结束***/

/***随笔模块开始***/
.all-diary{

    margin-top: 30px;
    width: 95%;
    float: left;
    height: 700px;
    position: relative;

}
.all-diary-top{
    width: 95%;
    height:50px;
    float: left;
}
.all-diary-top-left{
    border-radius: 15px;
    background-color: rgb(29, 158, 116);
    width: 180px;
    float: left;
    text-align: center;
    line-height: 50px;
}
.all-diary-top-left-title{
    font-size: 25px;
    color: white;
}
.all-diary-top-right{
    color: white;
    border-radius: 15px;
    background-color: rgb(29, 158, 116);
    width: 50px;
    float: right;
    text-align: center;
    line-height: 50px;
}
.diary-row{
    float: left;
    width: 95%;
    text-align: center;
    margin-top:20px;
    padding-left: 2%;

}
.diary{
    float: left;
    background: rgb(255, 153, 135);
    position: relative;
    margin-top:15px;
    margin-left: 20px;
    height:130px;
    color:white;
    border-radius: 15px;

}
.diary-content{
    margin-top:15px;
    text-align: left;
    height: auto;

}
.diary-bottom{
    width: 400px;
    float: left;
    margin-top: 6px;
}
.diary-date{

    float: left;
}
.readmore{

    font-size: 18px;
    margin-left: 100px;
    float: right;
    transition: 0.3s;
    width: 125px;
    border-radius: 10px;
}
.readmore:hover{
    background: white;

}
.diary-bottom a{
    text-decoration: none;
    color: white;
}
.diary-bottom a:hover{
    color: rgb(255, 153, 135);
}

/***随笔模块结束***/
.show-img{
    width: 500px;
    height:300px;
    border-radius: 15px;
}
.footer{
    float: left;
    position: relative;
}