

/* ---------导航栏开始----------- */
.nav-top{
    margin-top: 30px;
    width: 95%;
    float: left;
    height: 50px;
    position: relative;

}
.nav-top-ul{
    margin-left: 30%;
    text-align: center;

    width: 90%;

    list-style-type: none;
}
.nav-top-li{

    margin-left: 15px;
    float: left;
    width:90px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    transition: 0.3s;
}
.nav-top-a{
    text-decoration: none;
    color:black;

}
.nav-top-a:hover{
    color:white;
    text-decoration: none;
}
.nav-top-li:hover{
    background-color: rgb(40, 185, 190);
    color:white;
}
.active{
    background-color: rgb(40, 185, 190);
    color:white;
}
/* ---------导航栏结束----------- */

/*****右下角固定导航条*******/
.fix-nav{
    position: fixed;
    bottom:50px;
    right: 40px;
    height: 150px;

}
.fix-nav-ul{
    text-align: center;
    list-style-type: none;
    width: 50px;

}
.fix-nav-li{
    color:rgb(121, 85, 72);
    line-height: 40px;
    width:45px;
    height: 45px;
    background-color: white;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px 4px rgba(245, 222, 179,0.8);
    transition: 0.7s;
}
.fix-nav-li:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 7px rgba(245, 222, 179,1);
}
/*****右下角固定导航条结束*******/

/***********页脚开始**************/
.footer{
    margin-top:30px;
    width: 100%;
    float: left;
    background-color: rgba(0,0,0,0);
    height:200px;

}
.text1{
    margin-top: 90px;
    text-align: center;
    color: white;
}
.text2{
    margin-top: 10px;
    text-align: center;
    color: white;
}

/***********页脚结束**************/