.content{

    width: 80%;
    margin-left: 8%;
    height: 100%;
}
/*****右下角固定导航条*******/
.edit-nav{
    float: right;
    position: relative;
    margin-right: 12%;
    width: 30px;
    height: 200px;

}
.edit-nav-ul{
    text-align: center;
    list-style-type: none;
    width: 20px;

}
.edit-nav-li{
    color:rgb(121, 85, 72);
    line-height: 20px;
    width:20px;
    height: 20px;
    margin-top: 20px;

}
.edit-nav-li:hover{
    cursor: pointer;
}

/*****右下角固定导航条结束*******/