<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.braisedpanda.my.blog.web.mapper.BlogPreviewMapper">
    <insert id="insertBlogPreview" parameterType="com.braisedpanda.my.blog.commons.model.po.BlogPreview" useGeneratedKeys="true" keyProperty="id">
        insert into blog_preview
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                  title,
            </if>
            <if test="imageurl != null">
                  imageurl,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="top != null">
                top,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="views != null">
                views,
            </if>
            <if test="category != null">
                category,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title},
            </if>
            <if test="imageurl != null">
                #{imageurl},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="top != null">
                #{top},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="views != null">
                #{views},
            </if>
            <if test="category != null">
                #{category},
            </if>
        </trim>

    </insert>
</mapper>