<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎登陆~</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="bg-contact100" style="background-image: url('/images/img-01.jpg');">
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img src="images/img-01.png" alt="IMG">
            </div>

            <form class="contact100-form validate-form" method="post" action="/login">
                <span class="contact100-form-title">
						<div style="font-family: 幼圆;color:rgb(132, 106, 221);text-align: center;font-size:35px ">登录</div>
					</span>
					<span class="contact100-form-title">
						<div style="font-family: 幼圆;color:rgb(132, 106, 221) ">[[${tips}]]</div>
					</span>

                <div class="wrap-input100 validate-input" data-validate = "该项不能为空..." >
                    <input class="input100" name="username"  placeholder="用户名"></input>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true" style="color: rgb(132, 106, 221)"></i>
						</span>
                </div>



                <br>
                <div class="wrap-input100 validate-input" data-validate = "该项不能为空..." >
                    <input class="input100" name="password" type="password"  placeholder="密码"></input>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-key" aria-hidden="true" style="color: rgb(132, 106, 221)"></i>
						</span>
                </div>

                <div class="container-contact100-form-btn">
                    <input class="contact100-form-btn"  type="submit" value="登录">

                    </input>
                </div>


            </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->
<script src="/js/jquery-3.4.1.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>

<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="/js/yanzheng.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');



</script>

</body>
</html>
