<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--<link rel="icon" href="/img/core-img/favicon.ico">-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/tips/jquery.mytooltip.css">
    <link rel="stylesheet" href="/tips/style.css">
    <link rel="stylesheet" type="text/css" href="/css/lrtk.css">
</head>
<style>
    .my-tooltip{
        border-radius: 10px;
        width: 90px;
        background-color: wheat;
        color:black;
        text-align: center;
    }
</style>
<body>
<!--上方导航条-->
<nav class="navbar navbar-default navbar-fixed-top nav-top ">
    <div class="container nav-top-container">
        <ul class="nav-top-ul">
            <a href="#" class="nav-top-a"><li class="nav-top-li active">首页</li></a>
            <a href="#" class="nav-top-a"><li class="nav-top-li">首页2</li></a>
            <a href="#" class="nav-top-a"><li class="nav-top-li">首页3</li></a>
            <a href="#" class="nav-top-a"><li class="nav-top-li">首页4</li></a>
            <a href="#" class="nav-top-a"><li class="nav-top-li">首页5</li></a>

        </ul>

    </div>
</nav>



<!--中间内容-->
<section class="person-info">
    <div class="person-image">
        <img src="/images/touxiang.png" style="width: 220px;height: auto;" >
    </div>
    <div class="person-info-details">
        <ul class="person-info-ul">
            <li class="person-info-li"><div class="name">学习使我快乐</div></li>
            <li class="person-info-li"><div class="name">对潇潇暮雨洒江天</div></li>
            <li class="person-info-li">
                <ul class="person-info-li-ul">
                    <li class="person-info-li-ul-li"><a href="" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fa fa-github fa-lg js-mytooltip" data-mytooltip-custom-class="my-tooltip" data-mytooltip-direction="bottom"
                                                                                                                                     data-mytooltip-template="Github" aria-hidden="true" style="color: black"></i></a></li>
                    <li class="person-info-li-ul-li"><a href=""><i class="fa fa-star-half-o  fa-lg js-mytooltip " data-mytooltip-custom-class="my-tooltip" data-mytooltip-direction="bottom"
                                                                   data-mytooltip-template="收藏" aria-hidden="true" style="color: gold"></i></a></li>
                    <li class="person-info-li-ul-li"><a href=""><i class="fa fa-envira  fa-lg js-mytooltip" data-mytooltip-custom-class="my-tooltip" data-mytooltip-direction="bottom"
                                                                   data-mytooltip-template="树叶子" aria-hidden="true" style="color: darkgreen"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>


<!--最新博客-->
<section class="latest-blog">
    <div class="container latest-blog-container">
        <div class="latest-blog-top">
            <div class="latest-blog-top-left">
                <div class="latest-blog-top-left-title"><i class="fa fa-book">&nbsp;最近博客</i></div>
            </div>
            <a href="#">
            <div class="latest-blog-top-right">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
            </a>
        </div>
        <div class="latest-blog-body">
            <div class="latest-blog-body-image">
                <a href="#">
                <ul class="grid">

                    <li class="cs-style-3">
                        <figure>
                            <div><img src="/images/2.png" alt="img02"></div>
                            <figcaption>
                                <h3>&nbsp;Fairytale~</h3>
                                <span>&nbsp;2019年12月23日</span>

                            </figcaption>
                        </figure>
                    </li>

                </ul>
                </a>
            </div>
            <div class="latest-blog-body-right">
                <a href="#">
                <div class="latest-blog-body-title">
                    Fairytale~
                </div>
                </a>
                <a href="#">
                <div class="latest-blog-body-describe" style="text-align: left">
                    &nbsp;&nbsp;说来也怪，这套小说貌似是我等得最久的一次快递了，前前后后（从下单开始）总共有整整一周的时间，在这套书之后两天下单的一个包也还比它早到两三天，这可能就是知识的力量吧。拿到的时候还蛮激动的，不过乍一看觉得...
                </div>
                </a>
                <div class="latest-blog-body-bottom">
                    <ul class="latest-blog-body-ul">
                        <div class="latest-blog-body-bottom-font"><li class="latest-blog-body-li fa fa-th">&nbsp;Java</li></div>
                        <div class="latest-blog-body-bottom-font"> <li class="latest-blog-body-li fa fa-eye">&nbsp;1330</li></div>
                        <div class="latest-blog-body-bottom-font"> <li class="latest-blog-body-li fa fa-calendar">&nbsp;2019年12月23日 </li></div>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>



<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/tips/jquery.mytooltip.js"></script>
<script src="/tips/script.js"></script>
<script src="js/modernizr.custom.js"></script>
<script>
    $(function () {

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>