<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>写随笔</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/diary.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="bg-contact100" >
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img src="/images/img-01.png" alt="IMG">
            </div>

            <form class="contact100-form validate-form" method="post" action="/admin/diary/insert" >
                <span class="contact100-form-title">
						<div style="font-family: 幼圆;color:rgb(132, 106, 221);text-align: center;font-size:35px ">随笔</div>
					</span>


                <div class="wrap-input100 validate-input" data-validate = "填写你的标题吧~" >
                    <input class="input100"  placeholder="标题" id="title" name="title"></input>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-paper-plane-o" aria-hidden="true" style="color: rgb(132, 106, 221)"></i>
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "想写些什么呢...">
                    <textarea class="input100" type="text" name="content"  placeholder="想写些什么呢..." style="height: 230px" id="content"></textarea>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">

						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "此刻的心情...">
                    <select class="input100" name="category" type="text"  style="height: 40px;border-radius: 20px;padding-left:45px;outline: none">
                        <option value="2">随笔</option>
                        <option value="1">博客诞生记</option>
                    </select>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-heart" aria-hidden="true" style="color: rgb(132, 106, 221)"></i>
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "今天天气如何" style="width: 50%;float: left">
                    <input class="input100" name="weather" type="text"  placeholder="天气" id="weather"></input>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-moon-o" aria-hidden="true" style="color: rgb(132, 106, 221)"></i>
						</span>
                </div>
                <div class="wrap-input100 validate-input" data-validate = "此刻的心情..." style="width: 50%;float: left">
                    <input class="input100" name="mood" type="text"  placeholder="心情" id="mood"></input>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-heart" aria-hidden="true" style="color: rgb(132, 106, 221)"></i>
						</span>
                </div>



                <div class="container-contact100-form-btn">
                    <input class="contact100-form-btn"  type="submit" value="提交" >
                    </input>
                </div>


            </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->
<script src="/js/jquery-3.4.1.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>

<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="/js/yanzheng.js"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');



</script>

</body>
</html>
